# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [8]:
a = 'hI! Everyone, i\'m Kim'

# 아래에 코드를 작성하세요.

In [5]:
a.capitalize()         #변수에 저장해주지 않으면, a는 바뀌지 않음
print(a)

a.title()
print(a)

a.upper()
print(a)

hI! Everyone, I'm kim
hI! Everyone, I'm kim
hI! Everyone, I'm kim

In [9]:
a= a.capitalize()     #맨 앞글자만 대문자로 바꿔주고 나머지는 소문자로 변경
print(a)

title_a = a.title()
print(title_a)

upper_a= a.upper()
print(upper_a)

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM


### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [8]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [10]:
lower_a = a.lower()
print(lower_a)

swapcase_a = a.swapcase()
print(swapcase_a)

hi! everyone, i'm kim
hI! EVERYONE, I'M KIM

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [11]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [13]:
'!'.join(word)

'배!고!파'

In [14]:
' '.join(word)

'배 고 파'

In [12]:
' '.join(words)

'안녕 hello'

In [62]:
numbers = list(range(0,10))
print(numbers)
print(''.join(map(str,numbers)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0123456789

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [17]:
'yayyayyay!'.replace('a', '_')

'y_yy_yy_y!'

In [2]:
word = 'yay!'
word.replace('a', '_')
print(word)

word = 'yay!'
word = word.replace('a', '_')
print(word)
#반환값 저장하지 않으면 원본 변하지 않으므로 다음과 같이 처리해줘야 한다.

yay!
y_y!

In [3]:
'wooooooooo'.replace('o', '_', 2)

'w__ooooooo'

In [4]:
'wooooooooo'.replace('o', '_', 3)

'w___oooooo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [22]:
'      oh\n'.strip()

'oh'

In [25]:
'        oh\n      '.lstrip()

'oh\n      '

In [5]:
'hihihihihihihihi     '.rstrip()

'hihihihihihihihi'

In [33]:
'coding.....is....fun       '.rstrip('n')    #바로 끝에 있을 때만 제거함

'mississippi      '.rstrip('pis')

'mississippi      '

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [30]:
'apple'.find('p')

1

In [31]:
'apple'.find('f')

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [32]:
'apple'.index('p')

1

In [33]:
'apple'.index('k')

ValueError: substring not found

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [34]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [35]:
user_input = input = input().split()
print(user_input)

can I get an iced latte?
['can', 'I', 'get', 'an', 'iced', 'latte?']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [2]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
#1. isalpha()
result = '12345'.isalpha()
print(result)

False

In [36]:
#2. isdecimal() - 안에 들어있는 수가 10진수로 변환 가능한지 판별
float_number = '12.5'
float_number.isdecimal()

False

In [37]:
#3. isdigit()
number = '-123'
number.isdigit()

False

In [38]:
#4. isnumeric()
number = '1234½'
number.isnumeric()

True

In [45]:
#5. isupper()
result = 'AAAAAAbc'.isupper()
print(result)

False

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [10]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [11]:
# 값을 추가해봅시다.
cafe.append('bluebottle')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bluebottle']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [12]:
new_cafe = ['droptop', 'mccafe']
cafe.extend(new_cafe)
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bluebottle', 'droptop', 'mccafe']

In [13]:
cafe.append(new_cafe)
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bluebottle', 'droptop', 'mccafe', ['droptop', 'mccafe']]

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [14]:
cafe +=['terarosa', '빽다방']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bluebottle', 'droptop', 'mccafe', ['droptop', 'mccafe'], 'terarosa', '빽다방']

In [ ]:
# append와 비교해봅시다.

In [53]:
cafe = []

#1. append
cafe.append(['starbucks'])
print(cafe)

#2, extend
cafe.extend(['starbucks'])
print(cafe)

cafe.extend('starbucks')
print(cafe)

[['starbucks']]
[['starbucks'], 'starbucks']
[['starbucks'], 'starbucks', 's', 't', 'a', 'r', 'b', 'u', 'c', 'k', 's']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [54]:
cafe.insert(0,'hi')
print(cafe)

['hi', ['starbucks'], 'starbucks', 's', 't', 'a', 'r', 'b', 'u', 'c', 'k', 's']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [55]:
cafe.insert(len(cafe), 'bye')
print(cafe)

['hi', ['starbucks'], 'starbucks', 's', 't', 'a', 'r', 'b', 'u', 'c', 'k', 's', 'bye']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [18]:
cafe.insert(100, '!!!')
print(cafe)

['hi', ['starbucks'], 'starbucks', 's', 't', 'a', 'r', 'b', 'u', 'c', 'k', 's', 'bye', '!!!']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [29]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [30]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [31]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [32]:
numbers.remove(1)
print(numbers)   #없는 값은 오류가 발생!!

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [19]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [21]:
result = a.pop(0)
print(result)

1

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [22]:
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}가 되었습니다.')

5가 삭제되어 [2, 3, 4]가 되었습니다.

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [23]:
numbers = list(range(1, 46))
print(numbers)

numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [24]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [25]:
#3이라는 숫자가 어디에 있는지 찾아서 위치 반환
a.index(3)

2

In [50]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(1000)

ValueError: 1000 is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [64]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [27]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [28]:
target_value = 1

for i in range(a.count(target_value)):
    a.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [66]:
print(a)

[2, 5, 5]

In [55]:
target_value in a

False

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [69]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)
print(sorted(lotto))
print(lotto.sort())

[43, 32, 33, 44, 13, 12]
[12, 13, 32, 33, 43, 44]
None

In [33]:
# sort() 를 사용해봅시다.
lotto.sort()
print(lotto)

lotto.sort(reverse =False)
print(lotto)

lotto.sort(reverse =True)
print(lotto)

[3, 17, 20, 22, 30, 35]
[3, 17, 20, 22, 30, 35]
[35, 30, 22, 20, 17, 3]

In [34]:
result = lotto.sort()
print(result)

None

In [103]:
import random
import timeit

def bubble():
    nums = [x for x in range(10000)]
    random.shuffle(nums)
    for i in range(len(nums)-1):
        for j in range(len(nums)-i-1):
            if nums[j+1] < nums[j]:
                nums[j], nums[j+1] = nums[j+1], nums[j]
    return nums

def timesort():
    nums = [x for x in range(10000)]
    random.shuffle(nums)
    nums.sort()
    return nums

print(timeit.timeit(bubble, number=1))
print(timeit.timeit(timesort, number=1))

6.394814400000541
0.00619860000006156

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [61]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [62]:
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

In [70]:
reverse_me = [3,5,2,1,4]
reverse_me.reverse()
print(reverse_me)

[4, 1, 2, 5, 3]

## 복사

In [71]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [73]:
copy_list = original_list
print(copy_list)   #[1,2,3]

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [74]:
copy_list[0] = 5
print(copy_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [75]:
original_list[0] = 5
print(copy_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확인해봅시다.

In [70]:
print(id(copy_list) == id(original_list))

True

In [71]:
# 숫자를 확인해봅시다.

In [76]:
a = 20005
b = a
b = 30005

print(id(a))
print(id(b))
print(b)

4570264240
4570264656
30005

In [ ]:
# 딕셔너리도 확인해봅시다.

In [74]:
lunch = {'김밥천국': '치즈라면', '멀캠20층': '???'}
dinner = lunch

dinner['김밥천국'] = '참치김밥'
print(lunch)

{'김밥천국': '참치김밥', '멀캠20층': '???'}

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.
* 기본형(primitive)과 참조형(reference)은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [78]:
a = [1,2,3]
b = a[:]
print(b)

b[0] = 5
print(b)
print(a)

[1, 2, 3]
[5, 2, 3]
[1, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [45]:
a= [1,2,3]
b= list(a)
print(b)

b[0] = 5
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [80]:
a = [1,2,[1,2]]
b = a[:] #[1,2, [1,2]]

b[2][0] = 3   #[3,2]
print(a)
print(b)

[1, 2, [3, 2]]
[1, 2, [3, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [47]:
import copy

a= [1,2,[1,2]]
b= copy.deepcopy(a)

b[2][0] = 3
print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [82]:
a = range(1, 11)
print(a)

range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [92]:
cubic_list = []
for i in a:
    b= i**3
    cubic_list.append(b)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [93]:
cubic_list = [x**3 for x in a]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]





## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [95]:
even_list = []
for i in range(1,11):
    if i%2 ==0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [98]:
even_list = [i for i in range(1,11) if i%2 == 0 ]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [87]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [106]:
# 반복문을 활용하여 작성하세요.

In [88]:
a=[]
for i in range(len(boys)):
    for j in range(len(girls)):
        b = (boys[i], girls[j])
        a.append(b)
#         a.append(boys[i])
#         a.append(girls[j])
    print(a)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary')]
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary')]
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.dfkdhlkjljdl

In [121]:
# a = [(boy,girl) for boy in boys for girl in girls]
# print(a)


a = [(boys[i], girls[j]) for i in range(len(boys)) for j in range(len(girls))]
print(a)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [129]:
a = []
for x in range(1,50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                b = (x,y,z)
                a.append(b)
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [133]:
result = [(x,y,z) for x in range(1,50) for y in range(x,50) for z in range(y,50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [97]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [98]:
vowel = ['a','e','i','o','u']
z = []
for i in words:
        if i not in vowel:
            z.append(i)
print(''.join(z))

Lf s t shrt, y nd pythn!

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [150]:
vowel = 'aeiou'
lst = [i for i in words if i not in vowel]
print(''.join(lst))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [2]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [3]:
my_dict.pop('apple')

'사과'

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [4]:
my_dict.pop('melon')

KeyError: 'melon'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [5]:
my_dict.pop('melon',0)

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [6]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [7]:
my_dict.update(apple='사과아')
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [104]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [105]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))

None
사과

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [10]:
cubic = {x:x**3 for x in range(1,8)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

### Dictionary comprehension 사용해보기

In [108]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [111]:
dict = {k:v for k,v in dusts.items() if v > 80}
print(dict)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [137]:
dict = {k:'나쁨' if v > 80 else '보통' for k,v in dusts.items()}
print(dict)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [13]:
result = {key:'매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value>30 else '좋음' for key,value in dusts.items()}
print(result)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [124]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [125]:
a.add('포도')
print(a)

{'바나나', '수박', '포도', '사과'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [126]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [17]:
a.update('파인애플')
print(a)

{'애', '플', '수박', '바나나', '인', '사과', '파'}

In [127]:
a.update(['파인애플'])
print(a)

{'바나나', '수박', '파인애플', '사과'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [19]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [130]:
a.remove('애플')
a.remove('사과')
print(a)

KeyError: '애플'

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [131]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [132]:
a.discard('애플')
a.discard('사과')
print(a)

{'바나나', '수박'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [133]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [134]:
a.pop()
print(a)

{'수박', '아보카도', '사과'}

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [135]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [142]:
print(''.join(map(str,numbers)))
print(''.join(str(n) for n in numbers))

123
123

In [ ]:
# list comprehension

In [24]:
new_numbers = ''.join([str(num) for num in numbers])
print(new_numbers)

123

In [ ]:
# map

In [144]:
new_numbers= map(str,numbers)
print(new_numbers)
new_numbers = list(new_numbers)
print(new_numbers)
print(''.join(new_numbers))

<map object at 0x110829780>
['1', '2', '3']
123

In [145]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [146]:
print(''.join(numbers))

123

In [ ]:
# list comprehension

In [27]:
new_numbers = [int(num) for num in numbers]
print(new_numbers)

new_numbers = sum([10**idx*int(num) for idx,num in enumerate(numbers[::-1])])
print(new_numbers)

[1, 2, 3]
123

In [ ]:
# map

In [29]:
new_numbers = list(map(int,numbers))
print(new_numbers)

[1, 2, 3]

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [30]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [31]:
numbers = [1,2,3]
new_numbers = list(map(cube,numbers))
print(new_numbers)

[1, 8, 27]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [32]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [148]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [34]:
{girl:boy for girl in girls for boy in boys}

pair = {}
for girl in girls:
    for boy in boys:
        pair[girl] = boy
print(pair)
#이렇게하면 이상하게 표현됨. 따라서 zip사용

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# zip

In [35]:
pair = {girl:boy for girl, boy in zip(girls,boys)}
print(pair)

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# 다른 예시도 알아봅시다.

In [36]:
a = '123'
b = '567'
for digit_a, digit_b in zip(a,b):
    print(digit_a,digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

In [37]:
num1 = [1,2,3]
num2 = ['1','2']

list(zip(num1,num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

In [38]:
from itertools import zip_longest
list(zip_longest(num1,num2,fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [39]:
def odd(n):
    return n%2
numbers = [1,2,3]
result = list(filter(odd,numbers))
print(result)

[1, 3]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [40]:
[x for x in numbers if odd(x)]
[x for x in numbers if x%2]

[1, 3]